body {
    background: red;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

img {
    margin: 50px auto 15px;
}

h1 {
    font-size: 66px;
    margin: 0;
}

table {
    font-size: 16px;
    width: 800px;
    margin: 30px auto 0;
    text-align: left;
    line-height: 1.5;
    height: 200px;
    overflow-x: hidden;
    border: 15px solid black;
    padding: 10px;
    border-collapse: collapse;
}

tr {
    width: 100%;
}

td {
    padding: 10px;
}

a {
    color: inherit;
    margin: 10px;
    display: inline-block;
    font-weight: 900;
}

header {
    position: relative;
    width: 50%;
    margin: auto;
}

.message {
    background: white;
    display: block;
    border-radius: 4vw;
    padding: 2.5vw;
    position: relative;
    line-height: 0.9;
    font-family: serif;
    font-size: 1.6em;
}

.message em {
  font-size: 0.8em;
}

.message:after {
    content: ' ';
    width: 2vw;
    height: 2vw;
    border: 1vw solid white;
    border-width: 20px 20px 0 0;
    position: absolute;
    left: 0;
    z-index: 0;
    transform: rotate(-45deg);
    top: 0;
    ma FONT-VARIANT: JIS04;
    margin: -15px 0 0 80px;
}

.pulse span {
    background: black;
    color: white;
    display: block;
    font-size: 1.3em;
    margin: 1em 0;
    padding: 1em 0;
}

.progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: black;
    margin: 4px;
}
